language: node_js

node_js:
  - "stable"
  - "4"
  - "6"
  - "8"
  - "10"
  - "12"
  - "14"

script:
  - npm run lint

  - npm run test

  - >
    nodeVersionMajor=`node -p "process.versions.node.split('.')[0]"`;
    if [ $nodeVersionMajor -eq 14 ]; then
      npm run makeCodeCoverageSummaryReport;
      npm run makeCodeCoverageDetailReport;
      coveralls < coverage/lcov.info;
    else
      echo "*** Do not make coverage reports for non node.js 14 builds ($nodeVersionMajor)";
    fi;
